@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans'), local('NotoSans'),
    url('/fonts/notosans.woff2') format('woff2'),
    url('/fonts/notosans.woff') format('woff'),
    url('/fonts/notosans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans Bold'), local('NotoSans-Bold'),
    url('/fonts/notosansbold.woff2') format('woff2'),
    url('/fonts/notosansbold.woff') format('woff'),
    url('/fonts/notosansbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: inherit;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  background: #c6ffdd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50rem;
}

.quiz {
  position: relative;
  padding: 0 50px 70px 50px;
  background-color: #ffffff;
  border-radius: 8px;
  width: 600px;
  overflow: hidden;
}

.quiz__header {
  text-align: center;
  padding-top: 50px;
  font-size: 20px;
  padding-bottom: 20px;
}

.quiz__list {
  list-style-type: none;
  padding-bottom: 15px;
}

.quiz__list li {
  font-size: 20px;
}

.quiz__list label {
  cursor: pointer;
  width: 100%;
  display: block;
  padding: 15px 10px;
}

.quiz__list input[type='radio'] {
  margin-right: 10px;
}

.quiz-submit {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 70px;
  line-height: 70px;
}

.submit {
  background-color: #8e44ad;
  color: #ffffff;
  border: none;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 20px;
  font-family: inherit;
}

.submit:hover {
  background-color: #732d91;
}

.submit:focus {
  outline: none;
  background-color: #5e3370;
}
